
.container-main-appointment {
    margin-top: 120px;
    margin-bottom: 100px;
    /* padding: 50px; */
  }
  .container-main-appointment > h2{
    text-align: center;
  }
  .conatiner-appointment-form{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 5px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .response {
    position: fixed;
    top: 10%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .appointment-right{
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
  }
  .appointment-left{
    width: 50%;
    padding-top: 150px;
  }
  .appointment-left p{
    font-size: 1.2rem;
   text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
    background-clip: none;
      background: linear-gradient(90deg, rgba(46,236,25,1) 0%, rgba(47,65,233,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   /* color:linear-gradient(90deg, rgba(46,236,25,1) 0%, rgba(47,65,233,1) 100%); */
  }
  .appointment-left-animation{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .appointment-left-animation-arrow{
    position: absolute;
    top:35%;
    left:320px;
    color:#0D1E43;
    font-size: 3rem;
  } 
  .form-field label {
    font-weight: 500;
    margin-bottom: 0.6rem;
  }
  
  .form-field input[type="text"],
  .form-field input[type="email"],
  .form-field input[type="number"],
  .form-field input[type="date"],
  .form-field input[type="tel"],
  .form-field textarea {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 0.9rem;
  }
  input:focus,textarea:focus{
    outline: none;
    border-color: 0D1E43; 
    box-shadow: 0 0 3px 0D1E43; 
  }
  .form-field input[type="submit"] {
    background-color: #0D1E43;
    color: white;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .form-field input[type="submit"]:hover {
    background-color: #31bb36;
  }
  
  
  
  /* response or notification display for email sent or not css */
  .response_info_container{
    margin: 0px;
    padding: 0px;
    height: 50px;
    position: fixed;
    top: 10%;
    left: 30%;
    display: flex;
    width:50vh;
   border-radius: 0px;
  background: #fff;
  box-shadow:  5px 5px 10px #b8b8b8,
               -5px -5px 10px #ffffff;
  
  } 
  .response_icon_success{
      width:15%;
    background-color: #31bb36;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
  
  }
  .response_info_success{
    width: 80%;
    padding: 5px 15px;
  }
  .response_icon_success svg{
    font-size: 5rem;
  }
  .response_info_success h2{
    font-size: 1rem;
    font-weight: 500;
    color:#31bb36;
  }
  
  .response_icon_fail{
    width:15%;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
  }
  .response_icon_fail svg,.response_icon_success svg{
    font-size: 2rem;
  }
  .response_info_fail{
    width: 80%;
    padding: 3px 5px;
  }
  .response_info_fail h2{
    font-size: 1rem;
    font-weight: 500;
    color:red;
  }
  .response_info_fail p,.response_info_success p{
    font-size: 0.8rem;
    font-weight: 400;
  }
  
  .response_close_button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width:1024px) {
    .container-main-appointment{
      margin-bottom: 0;
    }
  }
  
  @media screen and (max-width:768px){
    .conatiner-appointment-form{
      padding-right: 0;
    }
    .appointment-right{
      width: 40%;
    }
    .appointment-left{
      width: 35%;
    }
    .appointment-left-animation-arrow{
      left: 50%;
      font-size: 2rem;
    }
    .form-field input[type="submit"] {
      padding: 0.5rem 0.5rem;
      font-size: 0.8rem;
    }
    
  .form-field input[type="text"],
  .form-field input[type="email"],
  .form-field input[type="number"],
  .form-field input[type="date"],
  .form-field input[type="tel"],
  .form-field textarea {
    font-size: 0.8rem;
  }
  }
  
  @media screen and (max-width:480px){
  
    .container-main-appointment{
      margin-top: 10%;
    }
  
    .conatiner-appointment-form{
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .appointment-left,.appointment-right{
      width: 100%;
      margin-left: -5%;
    }
    .appointment-left{
      padding-top: 0px;
    }
    .appointment-left-animation-arrow{
    position: absolute;
    top:35%;
    left:50%;
    color:#0D1E43;
    font-size: 2rem;
  } 
  }