
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #FFFF;
	--mainColorLight: #5767aa;
	--secondaryColor: #0c0448;
	--textColor: #000000;
}
.cname{
    display: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	width: 100%;
	z-index: 5;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	position: fixed;
	top: 0;
	/* overflow: hidden; */
	background-color: hsla(0, 0%, 95.3%, 0.75);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	
}


nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header  img{
    height: 120px;
    margin-left: 50px;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		z-index: 2;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
    header  img{
        height: 80px;
    }
}