.slider-container {
  width: 100%;
  max-width: 100%;
  margin-top: 90px;
  overflow: hidden;
  position: relative;
}

.slide img {
  max-width: 100%;
  width: 100%;
  height: 500px;
  object-fit: cover;
}


.over-lay {
  position: absolute;
  top: 150px;
  left: 30px;
  height: 300px;
  width: 35%;
  font-size: 1.2rem;
  padding: 35px;
  backdrop-filter: blur(3px);
  backdrop-filter: brightness(80%);
  border-radius: 15px;
}

.over-lay h1 {
  color: #fff;
  width: 100%;
  text-align: start;



}

.over-lay p {
  color: #fff;
  text-align: start;


}

.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 22px;
  margin-right: 400px;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.Aboutus-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* border: 2px solid rgb(3, 3, 3); */
  height: 550px;
  width: 100%;
  
}

.about-wapper{
  display: flex;
  gap: 25px;
  padding: 80px;
   /* border: 2px solid rgb(12, 12, 12); */
   width: 80%;
 }
 .about-wapper h1{
  margin-top: 12px;
  margin-bottom: 12px;
}
 .about-wapper img {
   height: 350px;
   border-radius: 12px;
 
 }
 .blue-checkmark{
   color: #FF7703;
   font-weight: 900;
   font-size: 1.3rem;
   
 }
/* Why section start */
.why-choose-us{
  height: 300px;
  width: 100%;
  margin-bottom: 122px;
  background-image: url(../../Images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #fff;
}
.heading-section{
/* border: 1px solid; */
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.div-1,.div-2,.div-3,.div-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}

.why-div-wrapper{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 250px;
  width:100%;
  top: 180px;
  /* margin-bottom: -150px; */
  color: #000;
  /* border: 5px solid rebeccapurple; */
}


@media screen and (max-width: 768px) {
  .over-lay {
    font-size: 0.8rem;
    width: 100%;
    margin-left: -55px;
  }

  .over-lay p {
    width: 100%;
    margin-top: 12px;
    font-size: 0.9rem;
  }

  .slide img {
    max-width: 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .button-58 {

    font-size: 15px;
    font-weight: 300;
    height: 40px;
    margin-top: 22px;
    margin-right: 350px;
  }
  .Aboutus-main-container {
    height: auto;
  }

  .about-wapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
  }
  .about-wapper h1{
    font-size: 1.8rem;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .about-wapper img {
    height: 50vw;
    width: 75vw;
  }

  .about-content {
    width: 100%;
  }
  .why-choose-us{
    width: 100%;
    height: 350px;

  }
  .div-1,.div-2,.div-3,.div-4{
    width: 60%;
    height: 250px;
  }
  .why-div-wrapper{
    top: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .heading-section{
    /* border: 1px solid; */
    height: 150px;
    width: 100%;
    font-size: 0.9rem;
    }

}