.slider-container {
    width: 100%;
    max-width: 100%;
    margin: 90px auto;
    overflow: hidden; 
    position: relative;
  }

  .slide img {
    max-width: 100%;
    width: 100%;
    height: 500px; 
    object-fit: cover;
  }
  
  
.over-lay{
    position: absolute;
    top: 150px;
    left: 30px;
    height: 200px;
    width: 50%;
    font-size: 1.2rem;
   

}
.over-lay h1{
    color: #fff;
    width: 100%;
}
.over-lay p{
    color: #fff;

}

/* CSS */
.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 12px;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}
  
  @media screen and (max-width: 768px) {
    .over-lay {
      font-size: 0.8rem;
      width: 60%;
    }
    .over-lay p {
        width: 100%;
        margin-top: 12px;
    }
  }
  
 
